.tab-home-bar {
    background-color: var(--accent-Color);
    border: 1px solid var(--primary-Color);
    border-radius: 5px;
    filter: drop-shadow(10px 5px 10px rgba(0, 0, 0, 0.3));
    width: 30%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;

}

.nav-tabs-bar {
    border-bottom: none;
}

.nav-link-bar {
    color: var(--text-color);
    background-color: transparent;
    border: none;
    margin-right: 15px;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 5px;
}

.nav-link-bar:hover {
    background-color: #e9ecef;
    color: var(--text-color);
}

.nav-link-bar.active {
    color: #fff;
    background-color: #007bff;
}