.parg {
   text-align: center;
   padding-right: 100px;
   background-color: #a9c8fc;

}

 .languege{
margin-top: 24px;
 }


.story {
   font-weight: bold;
   border-radius: 10px;
   background: #F6F9FE;
   box-shadow: -26px 26px 52px #b1b1b1,
      26px -26px 52px #ffffff;

}


.button1{
   background-color:rgb(85, 239, 85);
    font-weight: bold;
    color:black;
    justify-content: center;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 170px; 
}

#button2 {
   background-color:rgba(0, 191, 255, 0.895); 
border-radius: 10px;
margin-right: 20px;
}

 #cancel-button {
   background-color: #f4363686;
   border-radius: 10px;
}


.back {
   margin-top: 50px;
   margin-left: 30px;

}

.Add-cover {
   margin-top: 40px;
   border-radius: 8px;
   background: #eeeeeec8;
   box-shadow:  22px 22px 44px #ada8a8,
             -22px -22px 44px #ffffff;
         
 }
 .displayDivInCategory{

  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #96949498;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 150px;
  border-radius: 5px;
}

.pInBorderInCategory {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buttonInCategory {
  background-color: green;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 3px;
}
.uploaded-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.title{
  margin-top: 23px;
  margin-bottom: 20px;
}
.Target{
margin-right: 160px;
margin-top: 20px;
}

.Category{
margin-top: 20px;
}

.back{
  margin-top: 20px;
  margin-right: 20px;
}

.card{
  margin-top: 40px;
margin-right: 175px;
}

.buttons-container {
  display: flex;
  justify-content: end;
  margin-top: 20px; 
  margin-right: 145px;
}


.textarea-full-width {
  width: 82%;
}

.mainAndBack{
  margin-top: 25px;
}

.imageAndButton{
  margin-left: 16px;
}

.Plus{
  margin-top: 29px;
  margin-right: 160px;
}

.displayDiv {
  display: block;
  
}

.pInBorder {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  max-width: 80%; 
}

.buttonInCategory {
  margin-left: 10px;
}

.borderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #96949498;
  width: 150px;
  border-radius: 5px;
  
}



