.story-details-inner-body {
  background-color: var(--accent-Color);
  color: var(--text-Color);
}

.story-details-header {
  background-color: var(--accent-Color);
  color: var(--text-Color);
}

.story-details-title {
  font-weight: bold;
  font-size: 30px;
}

.uploaded-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-details-error {
  color: red;
  font-weight: bold;
}