.demoPage {
    width: 100%;
    height: 100%;
    background-color: #e6e2e2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.demoPage h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.demoPage p {
    font-size: 16px;
    margin-bottom: 15px;
    color: #666;
}

.HTMLFlipBook {
    width: 300px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.flipbook-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.flipbook-controls button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.flipbook-controls button:hover {
    background-color: #0056b3;
}

.StoryPage {
    overflow: hidden;
}

.btn-style {
    background-color: #5fabfc5e;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    cursor: pointer;
    margin: 10px;
    width: 10rem;
    font-size: 1em;
    text-align: center;
    transition: all 0.3s ease;
}

.btn-style i {
    vertical-align: middle;
    margin-left: 5px;
}

.btn-style:hover {
    background-color: #5fabfc8a;
}

.PageNumber {
    position: absolute;
    left: 95%;
    top: 95%;
    width: auto;
}