.searchProfile {
    width: 210px;
    height: 280px;
    background: var(--accent-Color); 
    border-radius: 12px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.123);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .searchProfileImage {
    background: linear-gradient(to right,var(--primary-Color, rgb(54, 54, 54)), var(--primary-Color, rgb(32, 32, 32))); 
    margin-top: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
  
  }

  .searchProfileImage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .textContainer {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .profileDisplayName {
    font-size: 0.9em;
    font-weight: 600;
    color: var(--text-Color);
    letter-spacing: 0.5px;
    margin: 0; 
    padding: 0; 
  }

  .profileUserName{
    font-size: 0.84em;
    color: rgb(150, 150, 150);
    letter-spacing: 0.2px;
    margin-top: -10px; 
  }

  .person-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--primary-Color); 
    cursor: pointer;
    font-size: 1.5em; 
  }
  