@font-face {
  font-family: 'Fibre Vintage';
  src: url('./fonts/LilitaOne-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Light.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Righteous';
  src: url('./fonts/Righteous-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brasika';
  src: url('./fonts/BrasikaDisplay.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



body {
  font-family: Fibre Vintage;
  background-color:var(--background-Color);
  
}

.Scriptoria {
  font-family: Brasika !important;
}

:root {
  --text-Color: #000000;
  --background-Color: #ECECEC;
  --primary-Color: #AC967F;
  --accent-Color: #E1D8D1;
}

