.profile-card {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 0px 2px 3px #222;
    border-radius: 10px;
    height: 98%;
}

.profile-card:hover .profile-img img {
    transform: scale(1.2);
}

.profile-card .profile-img img {
    width: 100%;
    height: 400px;
    transition: transform 1s;
    object-fit: cover;

}

.profile-card .profile-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 40%;
    border: 4.5px solid #333;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-radius: 6% 0% 6% 0%;
    transform: scale(1, 1);
    transition: all 0.50s linear;
}

.profile-card .profile-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 40%;
    border: 4.5px solid #222;
    border-left: 3px solid transparent;
    border-top: 3px solid transparent;
    border-radius: 6% 0% 6% 0%;
    transition: all 0.50s linear;
}

.IconColor {
    background-color: transparent;
    color: rgb(255, 255, 255);
    width: 40px;
    display: list-item;
    border-radius: 3px;
    padding: 2px 1px;
}

.profile-card:hover .profile-content:before {
    top: 20px;
    left: 20px;
}

.profile-card:hover .profile-content:after {
    bottom: 20px;
    right: 20px;
}

.profile-card .profile-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50% 4%;
    text-align: center;

}

.profile-card .profile-content:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}


.profile-card .profile-content .titleTeamMembers {
    margin-bottom: -15px;
    font-size: 24px;
    color: #fff;
    opacity: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: translateY(-100px);
    transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
}

.profile-card:hover .titleTeamMembers {
    opacity: 1;
    transform: translateY(0);
}

.profile-card:hover .titleTeamMembers::after {
    content: "";
    display: block;
    width: 50%;
    margin: 10px auto;
    border-bottom: 2px solid #ffffff;
}

.profile-card .profile-content .titleTeamMembers>span {
    display: block;
    margin: 5px 0;
    font-size: 14px;
    text-transform: capitalize;
}

.profile-card .profile-content .social-link {
    margin: 20px 0;
    padding: 0;
    opacity: 0;
    transform: translateY(100px);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
}

.profile-card:hover .social-link {
    opacity: 1;
    transform: translateY(0);
}

.profile-card .profile-content .social-link li {
    margin-top: 0;
    display: inline-block;
    list-style: none;
    margin: 0 4px;
}

.profile-card .profile-content .social-link li a {
    color: #333;
    width: 30px;
    height: 25px;
    line-height: 24px;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
}

.backgroundcolo {
    position: relative;
    text-align: center;
    background: linear-gradient(30deg, var(--primary-Color) 30%, var(--accent-Color) 100%);
    color: var(--text-Color);
    overflow: hidden;
}