* {
  box-sizing: border-box;
}

footer {
  left: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 20px;
  background-color: #DEE2FF;
  color: #000000;
}

.logo-footer{
  padding-top: 30px;
}
footer section {
  padding: 0 50px;
}

section.top {
  padding-top: 30px;
  margin-bottom: px;
}

section.top img {
  display: block;
  height: 50px;
  padding-left: 40px;
}

section.top ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

@media (width > 480px) {
  footer article button {
    width: 70%;
  }

  section.top ul {
    padding-right: 10%;
  }
  .ico-button{
display:flex;  }
.bottom {
  padding-right: 800px;
}
}

@media (width > 600px) {

  section.top ul {
    grid-template-columns: repeat(6, 1fr);
    padding-right: 0;
  }
  .ico-button{
    padding-left: 80%;
    text-align:justify;
  }

}

section.top ul li a {
  display: block;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.9);

}

section.top h6 {
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 1px;
}

section.bottom {
  padding-top: 10px;
  border-top: 2px solid rgb(255 255 255 / 10%);
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
}
/* .breaker{
  border : 1px solid rgb(29, 30, 29);
  margin-bottom : 5px; 
  text-align: center;
} */


.ico-button{
  padding-left: 80%;
  text-align:center;
}
.footer-buttom{
  padding-top: 10px;
  border-top: 2px solid rgb(255 255 255 / 10%);
  color: rgba(0, 0, 0, 0.4);
  font-size: 15px;
  text-align: center;
  padding-left: 600px;
  display: flex;

}
.facebook:hover {
  color: blue;
}
.whatsapp :hover{
  color : rgb(20, 195, 20); 
}
.insta:hover{
  color:mediumvioletred;
}