footer {
    height: auto;
    overflow: hidden;
    left: 0;
    bottom: 0;
    right: 0;
    padding-bottom: 20px;
    background-color: var(--accent-Color);
    color: #000000;
}

.firstCol {
    display: grid;
    justify-content: center;
}

.fitcon {
    font-size: x-large;
}

.NeedHelpText {
    color: var(--text-Color);
    filter: drop-shadow(10px 5px 10px rgba(0, 0, 0, 0.3));
    justify-content: center;
    display: flex;
}

.SupportImg {
    width: 400px;
    height: auto;
    filter: drop-shadow(10px 5px 10px rgba(0, 0, 0, 0.3));
}

.footerplace {
    position: relative;
    color: var(--text-Color);
    left: 2%;
    opacity: .5;
}
.flipitupside{
    rotate: 180deg;
}

@media only screen and (max-width: 988px) {
    .SupportImgDiv {
        display: none;
    }

    .NeedHelpText {
        text-align: center;
    }

    .iconsrow {
        justify-content: center;
    }

    .fitcon {
        left: 4%;
        position: relative;
    }
}