header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--accent-Color);
    color: var(--textColor);
}

.NavLogo {
    width: 70px;
}

.addstory {
    background: var(--primary-Color);
    width: fit-content;
    margin-top: 8px;
    display: flex;
    border-color: var(--primary-Color);
    color: var(--text-Color);
}

.addstory:hover {
    transform: scale(1.05);
    background-color: var(--primary-Color);
    transition: all .1s ease-in-out;
}

.ScriptoriaName {
    font-family: Brasika;
    text-align: center;
    text-decoration: none;
    color: var(--text-Color);
    font-size: xx-large;
}

nav a {
    margin: 0 1rem;
    color: var(--textColor);
    text-decoration: none;
}

nav a:hover {
    color: var(--secondaryColor);
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-Color);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
    display: none;
}

header div,
nav {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
        display: flex !important;
    }

    header nav {
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
    }

    header .responsive_nav {
        transform: translateY(100vh);
        z-index: 1001;
        background: var(--accent-Color);
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 1.5rem;
    }
}

@font-face {
    font-family: 'Brasika';
    src: url('../../fonts/BrasikaDisplay.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}