.search {
    --input-line: #cccccc;
    --input-text-color: #808080;
    --input-text-hover-color: transparent;
    --input-border-color: #808080;
    --input-border-hover-color: #999999;
    --input-bg-color: #333333;
    --search-max-width: 350px;
    --search-min-width: 300px;
    --border-radius: 5px;
    --transition-cubic-bezier: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-box {
    max-width: var(--search-max-width);
    min-width: var(--search-min-width);
    height: 35px;
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    padding: 5px 15px;
    background: var(--primary-Color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: var(--transition-cubic-bezier);
}

.search-box:hover {
    border-color: var(--primary-Color);
}

.search-field {
    position: relative;
    width: 100%;
    height: 100%;
    left: -5px;
    border: 0;
}

.input {
    width: calc(100% - 29px);
    height: 100%;
    border: 0;
    border-color: transparent;
    font-size: 1rem;
    padding-right: 0px;
    color: var(--input-line);
    background: var(--primary-Color);
    border-right: 2px solid var(--accent-Color);
    outline: none;
}

.input::-webkit-input-placeholder {
    color: var(--text-Color);
}

.input::-moz-input-placeholder {
    color: var(--text-Color);
}

.input::-ms-input-placeholder {
    color: var(--text-Color);
}

.search-box-icon {
    width: 52px;
    height: 35px;
    position: absolute;
    top: -6px;
    right: -21px;
    background: transparent;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    transition: var(--transition-cubic-bezier);
}

.search-box-icon:hover {
    background: var(--input-border-color);
}

.btn-icon-content {
    width: 52px;
    height: 35px;
    top: -6px;
    right: -21px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    transition: var(--transition-cubic-bezier);
    opacity: .4;
}

.btn-icon-content:hover {
    opacity: .8;
    background-color: var(--accent-Color) !important;
}

.search-icon {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 7px;
    right: 15px;
}