#logo {
    padding-top: 5%;
    width: 25%;
}


/* .signInBook {
    margin-top: 10%; 
} */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.box-3 {
    background-color: #d1c9e8;
}

.box-4 {
    background-color: #fae2e2;
}

.box-3,
.box-4 {
    width: 600px;
    height: 700px;
    border-radius: 10%;
}

.box1-header {
    font-size: 40px;
    font-weight: bold;

}

.box2-header {
    font-size: 40px;
    font-weight: bold;
    color: #AD96F0;
    top: 10%;
}


.box1-text {
    font-weight: bold;
    font-size: x-large;
}

.side-box2 {
    position: relative;
    background-color: #f3c6c6;
    width: 150px;
    height: 100%;
    border-radius: 50px;
    right: 2%;
}

.login-button1 {
    background-color: #bba9ef;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 20px;
}

.login-button2 {
    background-color: #f4a2a2;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 20px;
}

.inputBox {
    position: relative;
    margin: 30px;
}

.inputBox input {
    padding: 15px 20px;
    outline: none;
    background: transparent;
    border-radius: 20px;
    color: #212121;
    border: 1px solid#212121;
    font-size: 1em;
    width: 300px;
}

.inputBox span {
    position: absolute;
    left: 10px;
    transform: translateX(14px) translateY(-15.5px);
    border-radius: 2px;
    background: #D1C9E8;
    letter-spacing: 1px;
    border: none;
    color: #212121;
    font-size: large;

}

.input-info {
    margin-bottom: 0%;
}

.signup-btn {
    background-color: #5d6dac;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 20px;
}

.hr-div {
    position: relative;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #494969;
}

.signup-hr {
    margin-bottom: 5%;
}

.hr-div span {
    position: absolute;
    left: 60px;
    transform: translateX(14px) translateY(-25.5px);
    padding: 0 12px 1px 10px;
    border-radius: 2px;
    background: #D1C9E8;
    letter-spacing: 1px;
    border: none;
    color: #212121;
    font-size: 14px;
}

.connect-btn {
    width: 70px;
    height: 50px;
    background-color: white;
    margin-left: 30px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.479);
}

@media only screen and (max-width: 319px) {

    .signInBook {
        margin: 10%;
    }

    .box-3,
    .box-4 {
        width: 350px;
        height: 500px;
        border-radius: 10%;
        position: relative;

    }

    .side-box2 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f3c6c6;
        width: 88%;
        height: 10%;
        border-radius: 50px;
    }
}


@media only screen and (min-width: 320px) and (max-width: 480px) {

    .signInBook {
        margin: 10%;
    }

    .box-3,
    .box-4 {
        width: 350px;
        height: 500px;
        border-radius: 10%;
        position: relative;

    }

    .side-box2 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f3c6c6;
        width: 88%;
        height: 10%;
        border-radius: 50px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .signInBook {
        margin: 10%;

    }

    .box-3,
    .box-4 {
        width: 400;
        height: 600px;
        border-radius: 10%;
        position: relative;
        padding-right: 0%;
    }

    .side-box2 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f3c6c6;
        width: 93%;
        height: 15%;
        border-radius: 50px;
    }

    .textBody {
        position: relative;
        left: 10%;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .signInBook {
        margin: 10%;

    }

    .box-3,
    .box-4 {
        width: 400;
        height: 600px;
        border-radius: 10%;
        position: relative;
        padding-right: 0%;
    }

    .side-box2 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f3c6c6;
        width: 93%;
        height: 15%;
        border-radius: 50px;
    }

    .textBody {
        position: relative;
        left: 10%;
    }
}


@media only screen and (min-width: 1025px)and (max-width: 1200px) {
    .signInBook {
        margin-top: 10%;
    }

    .box-3,
    .box-4 {
        width: 450px;
        height: 700px;
        border-radius: 10%;
    }


}

@media only screen and (min-width: 1201px) and (max-width:1440px) {
    .signInBook {
        margin-bottom: 30%;
    }

    .box-3,
    .box-4 {
        width: 550px;
        height: 700px;
        border-radius: 10%;
    }


}