
.btncolor {
    position: absolute;
    top: -100px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.btn-right {
    font-size: 24px;
    cursor: pointer;
}

.btnwhite,
.btnbeige,
.btnblack {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    border: 1px solid black;
}

.btnwhite {
    background-color: white;
}

.btnbeige {
    background-color: beige;
}

.btnblack {
    background-color: black;
}

.group-color {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.group-color2 {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin-bottom: 5px;
    border: 1px solid;
}

.btn-Start-Reading {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(153, 153, 157);
    border: none;
}

.story-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 20;
    overflow: hidden;
    margin: 30px auto 0;
    text-align: left;
}

.story-prev {
    width: 800px;
    flex: 0 0 75%;
    max-width: 75%;
    flex: 1;
    min-Width: 600px;
    height: 600px;
}

.prof-card {
    flex: 0 0 25%;
    max-width: 25%;
    margin-Left: -70px;
}

.profileCard {
    margin-top: 80px;
    margin-Left: -480px;
    transform: translateY(-10%);
}

.container-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row-details {
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 600px;
}



.card-title {
    color: black;
}

.card-text {
    color: black;
}

.card-title.white-bg,
.card-text.white-bg {
    color: black;
}

.card-title.black-bg,
.card-text.black-bg {
    color: white;
}

.card-title.beige-bg,
.card-text.beige-bg {
    color: black;
}

@media (max-width: 1500px) {
    .prof-card {
        margin-left: 10em !important;
    }
    .profileCard {
        height: inherit;
        margin-left: -10em !important;
        margin-top: 120px;
    }
    .story-prev {
        width: 300px !important;
    
    }
    .writersCards  {
        flex-direction: column; 
        display: block;
    }
    .writer {
        width: 100%; 
    }
}

@media (max-width: 992px) {
    .story-prev {
        max-width: 400px;
    }
    .prof-card {
        margin-left: 20em !important;
        width: 50px;
    }
    .container-details {
        display: flex;
    }
    .row-details {
        display: block;
    }
}



@media (max-width: 768px) {
    .story-prev {
        min-width: 500px;
        max-height: 500px;
    }
    .prof-card {
        margin-left: 20em !important;
        width: 50px;
    }
    .container-details {
        display: flex;
    }
    .row-details {
        display: block;
    }
    .story-description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
        overflow: hidden;
        margin: 30px auto 0;
        text-align: left;
    }
}

@media (max-width: 576px) {
    .story-prev {
        min-width: 200px;
        max-height: 400px;
    }
    .prof-card {
        margin-left: 10em !important;
        width: 50px;
    }
    .container-details {
        display: flex;
    }
    .row-details {
        display: block;
    }
    .story-description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
        overflow: hidden;
        margin: 30px auto 0;
        text-align: left;
    }
}
