@font-face {
    font-family: 'Righteous';
    src: url('../../fonts/Righteous-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lilita One';
    src: url('../../fonts/Righteous-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.cover-img {
    margin-bottom: -20px;
    box-shadow: 0px 1px 7px 2px #c7c9d3;
    border-bottom: 1px solid #dcddde;
    margin-top: 15px;
    transition: 0.3s ease;
    margin-left: 30px;
    cursor: pointer;

    max-width: 100%;
    max-height: 100%;
    min-height: 200px;
    width: 200px;
    height: 250px;
}

.cover-img:hover {
    transform: scale(1.05);
}

.read-btn:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.CarouselCards-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.CarouselCards-text,
.author-name,
.read-btn {
    font-family: 'Lilita One';
}

.CarouselCards-title {
    font-family: 'Righteous';
}

.CarouselCards {
    width: 750px;
    max-height: 100%;
    height: 250px;
}

@media (max-width: 1500px) {
    .CarouselCards {
        width: 350px;
        max-height: 100%;
        height: 250px;

    }

    .CarouselCards-body {
        width: 100px;
        margin-left: 3em;
    }

    .cover-img {
        width: 450px;
        height: 200px;
    }

    .read-btn {
        width: 150px;
        height: 40px;
        font-size: small ;
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
}

@media (max-width: 1200px) {
    .CarouselCards {
        width: 100%;
        background: none !important;
    }

    .CarouselCards-body {
        display: none;
    }

    .cover-img {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (max-width: 900px) {
    .CarouselCards {
        background: none !important;
        border-style: none;
    }

    .cover-img {
        max-width: 100%;
        max-height: 100%;
        min-height: 200px;
        width: 150px;
        height: 150px;
    }

    .CarouselCards-body {
        display: none;
    }
}