.reply-btn, .comment-like-btn{
    cursor : pointer
}

.profile-link{
    text-decoration: none;
    cursor : pointer;
    color : black;
}

.custom-modal-content {
    min-height: 300px; 
}

.comment-icon{
    color : var(--text-Color)
}



