.view-button {
    border-color: var(--primary-Color);
    background-color: transparent;
    color: var(--text-Color) !important;
    font-family: 'Righteous';
    font-weight: bold;
    width: 120px;
    height: 30px;
    font-size: small;
}

.view-button:hover,
.view-button:focus,
.view-button:active {
    background-color: var(--primary-Color) !important;
    border-color: var(--primary-Color) !important;
}

.shelf-title {
    font-family: 'Righteous';
    font-weight: bold;
    font-size: 24px;
    color: var(--text-Color)
}