.ql-container{
    border-radius: 0 0 0.5rem 0.5rem;
    position: static !important;
}
.ql-toolbar{
    border-radius: 0.5rem 0.5rem 0 0;
}
.ql-editor {
    /* border-radius: 1rem; */
    overflow: hidden;
}
  
.nav-container{
    z-index: 1000;
    /* background: rgb(255,255,255); */
background: linear-gradient(0deg, rgba(255,255,255,0) 0%, var(--primary-Color) 100%);
}

.WpNavBar{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color : var(--text-Color)
}
.navbar-toggler{
    border : 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icons:focus{
    outline: none;
    box-shadow: none;
    border: 0;
}

.toggle-icon{
    width: 27px;
    height: 3px;
    background-color:  var(--text-Color);
    display: block;
    transition: all 0.2s;
}

.middle-bar{
    margin: 5px auto;
}

.navbar-toggler .top-bar{
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar{
    transform: rotate(-49deg);
    transform-origin: 10% 10%;
}


.navbar-toggler.collapsed .top-bar{
    transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter : alpha(opacity=100)
}
.navbar-toggler.collapsed .bottom-bar{
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggle-icon{
    background-color: var(--text-Color);
}

.nav-btn{
    background-color: var(--primary-Color);
    color: var(--text-Color);
}
.nav-btn:hover,
.nav-btn:active {
    background-color: var(--primary-Color) !important;
    transform: scale(1.05);
    transition: all 0.2s ease;
    color: var(--text-Color) !important;
}

.main-content{
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}