
.TextEditorSize {
    width: 80%;
    font-family: "Gill Sans", sans-serif;
    border: none !important;
}

.TextEditorSize a {
    display: none !important;
}

.wp {
    line-height: 0;
}

.WP {
    text-align: center;
}

.wpi {
    font-family: Poppins;
    line-height: 0;
}