.list-card i, .list-card .list-btns i {
  opacity: 0;
  font-size: 18px;
  color: #fff;
  will-change: transform;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.list-card {
  position: relative;
  width: 25em;
  height: 12.5em;
  background-color: #fff;
  overflow: hidden;
}
.list-card .list-name {
  z-index: 99;
  position: absolute;
  bottom: 0;
  right: 130px;
  color: #fff;
}
.list-card .bi-arrow-right-short {
  z-index: 100;
  position: absolute;
  right: 50px;
  bottom: -20px;
  font-size: 70px;
  cursor: pointer;
}
.list-card p {
  z-index: 99;
  position: absolute;
  top: 20px;
  right: 70px;
  color: #333;
  opacity: 0.7;
  font-size: 12px;
  letter-spacing: 1px;
  writing-mode: vertical-lr;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.list-card .list-pic {
  z-index: 100;
  width: 18.75em;
  height: 12.5em;
  background-image: url();
  background-size: 100% 100%;
  filter: brightness(50%) grayscale(50%);
  transition: all 0.1s ease;
}
.list-card .list-btns {
  position: absolute;
  left: 60px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 180px;
  height: 64px;
  border-radius: 80px;
}
.list-card .list-btns i:nth-of-type(1) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.list-card .list-btns i:nth-of-type(2) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.list-card .list-btns i:nth-of-type(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.list-card .list-btns i:nth-of-type(4) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.list-card:hover i {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.list-card .list-ball {
  position: absolute;
  right: 14px;
  bottom: 14px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  mix-blend-mode : multiply;
}
.list-card button i {
  font-size: 3rem;
}
.list-card:hover .list-ball {
  transform: scale(16.5);
}
.list-card:hover p {
  color: #fff;
}
.list-card:hover .list-pic {
  filter: brightness(85%) grayscale(0);
}
.list-name{
  text-shadow: 4px 4px 16px #000000;
}
.edit-list, .delete-list{
  text-shadow: 2px 2px 8px #000000;
  font-weight: bold;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
  z-index: 100;
}

.list-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 25px;
}

@media (max-width: 410px) {
  .list-card {
      width : 250px;
      height : 120px;
  }
  .list-card .list-pic{
    width : 200px;
    height : 120px;
  }
  .list-card .list-name{
    padding-left : 4px;
  }
  .list-card .list-btns {
    left: 12px;
    top: 0;
    width: 120px;
    height: 40px;
  }
  .list-card p {
    top: 10px;
    right: 30px;
    font-size: 8px;
  }
  .list-card .bi-arrow-right-short {
    right: 30px;
    bottom: -10px;
    font-size: 40px;
  }
  .list-card .list-ball {
    right: 8px;
    bottom: 8px;
    width: 30px;
  }
  .list-card:hover .list-ball {
    transform: scale(8);
  }
}

