

.side-box2-info {
    position: relative;
    background-color: #f3c6c6;
    width: 150px;
    height: 100%;
    border-radius: 50px;
    right: 2%;
}

@media only screen and (max-width: 319px) {

    .signInBook-info {
        margin: 10%;
    }

    .box-3-info,
    .box-4-info {
        width: 350px;
        height: 500px;
        border-radius: 10%;
        position: relative;

    }

    .side-box2-info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f3c6c6;
        width: 88%;
        height: 10%;
        border-radius: 50px;
    }
}


@media only screen and (min-width: 320px) and (max-width: 480px) {

    .signInBook-info {
        margin: 10%;
    }

    .box-3-info,
    .box-4-info {
        width: 350px;
        height: 850px;
        border-radius: 10%;
        position: relative;

    }

    .side-box2-info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f3c6c6;
        width: 100%;
        height: 10%;
        border-radius: 50px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .signInBook-info {
        margin: 10%;

    }

    .box-3-info,
    .box-4-info {
        width: 400px;
        height: 850px;
        border-radius: 10%;
        position: relative;
        padding-right: 0%;
    }

    .side-box2-info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f3c6c6;
        width: 93%;
        height: 10%;
        border-radius: 50px;
    }

    .textBody {
        position: relative;
        left: 10%;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .signInBook-info {
        margin: 10%;

    }

    .box-3-info,
    .box-4-info {
        width: 400px;
        height: 900px;
        border-radius: 10%;
        position: relative;
        padding-right: 0%;
    }

    .side-box2-info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f3c6c6;
        width: 93%;
        height: 10%;
        border-radius: 50px;
    }

    .textBody {
        position: relative;
        left: 10%;
    }
}


@media only screen and (min-width: 1025px)and (max-width: 1200px) {
    .signInBook-info {
        margin-top: 10%;
    }

    .box-3-info,
    .box-4-info {
        width: 450px;
        height: 700px;
        border-radius: 10%;
    }


}

@media only screen and (min-width: 1201px) and (max-width:1440px) {
    .signInBook-info {
        margin-bottom: 30%;
    }

    .box-3-info,
    .box-4-info {
        width: 550px;
        height: 700px;
        border-radius: 10%;
    }


}