/* .scriptoria-text-info {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 50px;
}

.welcome-word-info {
    color: #6874ad;
}

.info-text {
    font-weight: bold;
    font-size: 35px;
}

.joy-text {
    color: #6874ad;
    font-size: 25px;
    text-shadow: 0px 2px #00000081;
}

.box-3 {
    background-color: #d1c9e8;
}

.box-4 {
    background-color: #fae2e2;
}

.box-3,
.box-4 {
    width: 600px;
    height: 900px;
    border-radius: 10%;
} */