.container-registration {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-Color);
    overflow: hidden;
}

.container-registration::before {
    content: "";
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, var(--accent-Color), var(--primary-Color));
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.registration-body {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 0.2s 0.7s ease-in-out;
}

form.left-registration-card {
    z-index: 2;
}

form.right-registration-card {
    z-index: 1;
    opacity: 0;
}

.title {
    font-size: 2.2rem;
    color: var(--text-Color);
    margin-bottom: 10px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: flex;
    grid-template-columns: 15% 85%;
    padding: 0.4rem;
}

.input-field i {
    text-align: center;
    line-height: 40px;
    color: #acacac;
    font-size: 1.5rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder {
    color: #807f7f;
    font-weight: 400;
}

.btn-registration {
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: var(--primary-Color);
    color: var(--text-Color);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: 0.5s;
}

.btn-registration:hover {
    transform: scale(1.05);
}

.social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 46px;
    width: 46px;
    border: 1px solid #333;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 1.1rem;
    border-radius: 50%;
    transition: 0.3s;
}

.social-icon:hover {
    background: #0ef;
    color: #fff;
    border: none;
}

.panels-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.left-panel {
    pointer-events: all;
    padding: 3rem 35% 2rem 12%;
}

.right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 35%;
}

.panel .content {
    color: var(--text-Color);
    transition: 0.9s 0.6s ease-in-out;
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.btn-registration.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.img-registration {
    width: 70%;
    transition: 0.9s 0.6s ease-in-out;
}

.right-panel .content,
.right-panel .img-registration {
    transform: translateX(900px);
}

.container-registration.registration-mode::before {
    transform: translate(100%, -50%);
    right: 52%;
}

.container-registration.registration-mode .left-panel .img-registration,
.container-registration.registration-mode .left-panel .content {
    transform: translateX(-900px);
}

.container-registration.registration-mode .right-panel .content,
.container-registration.registration-mode .right-panel .img-registration {
    transform: translateX(0px);
}

.container-registration.registration-mode .left-panel {
    pointer-events: none;
}

.container-registration.registration-mode .right-panel {
    pointer-events: all;
}

.container-registration.registration-mode .registration-body {
    left: 25%;
}

.container-registration.registration-mode form.left-registration-card {
    z-index: 1;
    opacity: 0;
}

.container-registration.registration-mode form.right-registration-card {
    z-index: 2;
    opacity: 1;
}

.registration-input-error {
    font-size: 20px;
    color: red;
}

.registration-see-password {
    position: relative;
    top: 3px;
    left: 20%;
}

@media (max-width: 870px) {
    .container-registration {
        min-height: 800px;
        height: 100vh;
    }

    .container-registration::before {
        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom: 68%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }

    .registration-body {
        width: 100%;
        left: 50%;
        top: 95%;
        transform: translate(-50%, -100%);
    }

    .panels-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
    }

    .panel .content {
        padding-right: 15%;
        transition: 0.9s 0.8s ease-in-out;
    }

    .panel h3 {
        font-size: 1.2rem;
    }

    .panel p {
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }

    .btn-registration.transparent {
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }

    .img-registration {
        width: 200px;
        transition: 0.9s 0.6s ease-in-out;
    }

    .left-panel {
        grid-row: 1 / 2;
    }

    .right-panel {
        grid-row: 3 / 4;
    }

    .right-panel .content,
    .right-panel .img-registration {
        transform: translateY(300px);
    }

    .container-registration.registration-mode::before {
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }

    .container-registration.registration-mode .left-panel .img-registration,
    .container-registration.registration-mode .left-panel .content {
        transform: translateY(-300px);
    }

    .container-registration.registration-mode .registration-body {
        top: 5%;
        transform: translate(-50%, 0);
        left: 50%;
    }
}

@media (max-width: 570px) {
    form {
        padding: 0 1.5rem;
    }

    .img-registration {
        display: none;
    }

    .panel .content {
        padding: 0.5rem 1rem;
    }

    .content::before {
        bottom: 72%;
        left: 50%;
    }

    .container-registration.registration-mode::before {
        bottom: 28%;
        left: 50%;
    }
}