@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: bold; 
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Righteous';
    src: url('../../fonts/Righteous-Regular.ttf') format('truetype');
    font-weight: bold; 
    font-style: normal;
    font-display: swap;
  }

.card-img {
    margin-top: -35px;
    box-shadow: 0px 1px 7px 2px #383838;
    border-bottom: 1px solid #4e4f4f;
    margin-bottom: 20px;
    transition: 0.3s ease;
    margin-left: 20px;
}

.card-img:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.card-title {
    font-family: 'Righteous';
}

.author {
    font-family: 'Righteous';
    font-size: small;
}

.voters {
    margin-left: 7px;
    margin-top: 4px;
    font-family: 'Righteous';
    font-size: small;
}

.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-family: 'Poppins';
    font-size: small;
}

.btn-show-more {
    margin-Bottom: 5px;
    background-color: #F3C6C6;
    border: 1px solid #000000;
    box-Shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: 'Righteous';
    border-radius: 9px;
    border: none;
    width: 154px;
    height: 33px; 
}